# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.svg
*.png
cancer-immune/PhysiCell-src/output/ani.gif
cancer-immune/PhysiCell-src/output/gif/final.gif
cancer-immune/PhysiCell-src/output2/empty.txt
cancer-immune/PhysiCell-src/output2/initial.xml
cancer-immune/PhysiCell-src/output2/initial_cells.mat
cancer-immune/PhysiCell-src/output/gif/png
cancer-immune/PhysiCell-src/output/gif/out.gif
cancer-immune/PhysiCell-src/output/gif/initial.gif
cancer-immune/PhysiCell-src/output2/initial_cells_physicell.mat
cancer-immune/PhysiCell-src/output2/initial_mesh0.mat
cancer-immune/PhysiCell-src/output2/initial_microenvironment0.mat
cancer-immune/PhysiCell-src/output2/metrics.txt
